@if (!AuthorizedFor(NKD.Permissions.ManageProjects)) {Html.RenderAction("UnauthorizedRedirect");}
<script type="text/javascript">
    $().ready(function () {
        $(window.document.forms[0]).submit(function () {
            var parameterOrderIdParameter = $("#parameterOrderIdParameter");
            var min = 10248;
            var max = 11077;
            var num = parseInt(parameterOrderIdParameter.val());
            num = isNaN(num) ? max : Math.max(min, Math.min(max, num));
            parameterOrderIdParameter.val(num.toString());

            var parameterMaxRowCountParameter = $("#parameterMaxRowCountParameter");
            num = parseInt(parameterMaxRowCountParameter.val());
            num = isNaN(num) ? 10 : Math.max(1, num);
            parameterMaxRowCountParameter.val(num.toString());
        });
    });
</script>

<div class="reportOptionsPanel" style="height: 40px; width: 610px;">
    <div style="vertical-align:baseline;">
        <label for="parameterOrderIdParameter" style="width:240px; float: left; margin-top:3px" >Enter the order ID from 10248 to 11077: </label>
        @*@Html.TextBox("ReportID", 11077, new { style = "width:100px; margin:0px; float: left;" })*@
    </div>
    <div style="width:100%; float: left; vertical-align:baseline; padding-top: 4px;">
        <div style="float: left;">
            <label for="parameterMaxRowCountParameter" style="width:240px;float: left; margin-top:3px">Max row count: </label>
            @*@Html.TextBox("ReportID", 10, new { style = "width:100px; margin:0px; float: left;" })*@
        </div>
        <input style="float: left;" type="submit" value="Apply"/>
    </div>
</div>