
@Html.Partial("Header")
@{
    Style.Require("NKDAdmin");

    Layout.Title = T("Block Models").ToString();
}
@if (AuthorizedFor(NKD.Permissions.ManageProjects)) {
    <h3>@Layout.Title</h3>
    Html.RenderPartial("ModelListPartial");
}
else {
    Html.RenderAction("UnauthorizedRedirect");
}