@{ 
    Script.Require("jQuery_SignalR_Hubs").AtHead();
    
    Script.Include("proligence-signalr-common.js").AtHead();
    Script.Include("samples/signalr.samples.js").AtFoot();

    Script.Include("samples/jquery.color-2.1.0.js").AtFoot();
    Script.Include("samples/Benchmark.js").AtFoot();
}
<script type="text/javascript">
    var options = { transport: activeTransport };
</script>

    <button id="hitme">hit me</button> | <button id="hitus">hit us</button> <select id="clientCalls"><option value="10">10</option> <option value="100">100</option><option value="1000">1000</option><option value="10000">10000</option><option value="100000">100000</option></select>
    <ul id="messages"></ul>
