@{
    Style.Include("Gallery.css");
}

<div>
  <ul>
    <li>Total Packages: @Model.TotalPackages</li>
    <li>Unique Packages: @Model.UniquePackages</li>
    <li>Packages added today: @Model.NewPackages</li>
    <li>Total Downloads: @Model.TotalDownloads</li>
  </ul>
</div>